.logo{
    width: 50px;
}

.title{
    font-size: 2.125rem;
    color: #00b39b;
}

.desc{
    display: flex;
    padding: 4% 15%;
    text-align: left;
}

.desc p{
    padding: 2%;
    line-height: 200%;
    color: #747474;
}