.sponsoring svg {
  padding-left: 10px;
  padding-bottom: 20px;
  fill: #747474;
  height: 20px;
}
.sponsoring img {
  padding-left: 10px;
  padding-bottom: 20px;
  height: 16px;
}
svg:hover,
img:hover {
  fill: #00b39b;
}
.sponsoring h3 {
  width: 40%;
  font-size: 1.625em;
  color: #00b39b;
}
.sponsoring {
  display: flex;
  align-items: center;
  margin: 5% 15%;
  justify-content: space-between;
  text-align: left;
}
.sponsoring div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
