svg{
    width: 150px;
    margin-left: 10px;
    fill: #747474;;
}
svg:hover{
    fill: #00b39b;;
}
.sponsoring h3{
    width: 33%;
    font-size: 1.625em;
    color: #00b39b;
}
.sponsoring{
    display: flex;
    align-items: center;
    margin: 0% 17%;
    justify-content: space-between;
    text-align: left;
}
.sponsoring div{
    display: flex;
    flex-wrap: wrap;
}