.stats {
  background-color: rgba(0, 179, 155, 0.2);
  display: flex;
  padding: 0% 10%;
  /* height: 100%; */
}

.stats div {
  justify-content: center;
}

.statsOne img {
  width: 80%;
  top: 10%;
}

.statsOne h3 {
  font-size: 30px;
  text-align: left;
  color: #00b39b;
  font-weight: 300;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin-top: 80px;
}

.statsOne p {
  text-align: left;
  font-size: 14px;
  color: #747474;
  line-height: 25px;
}

.patientsCard,
.leaderCard,
.doctorsCard,
.appointmentsCard {
  background-color: #ffff;
  border-radius: 2%;
  margin: 2%;
  width: 230px;
  height: 250px;
  padding: 5% 3%;
}

.leaderCard, .appointmentsCard {
    margin-top: 10%;
}

.appointmentsCard {
    margin-top: 2%;
}

.doctorsCard{
    margin-top:-6%
}

.patientsCard p,
.leaderCard p,
.doctorsCard p,
.appointmentsCard p {
  font-size: 13px;
  color: #747474;
}

.statsTwo {
  display: flex;
  flex-wrap: wrap;
}
